<div class="row">
    <div class="col-lg-8 col-lg-offset-1">
        <canvas style="width:100%;background:blue;"></canvas>
    </div>
    <div class="col-lg-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Chat</h2>
            </div>
            <div class="panel-body">
                Chat shit here
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Say something..." />
                    <span class="input-group-btn">
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-send"</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>