@model Chess.ViewModels.IndexViewModel

<div class="row" id="preTeam">
    <div class="col-xs-12 text-center">
        <button name="black" class="btn btn-default btn-lg teamBtn">Black Team</button><br/><br />
        <button name="white" class="btn btn-default btn-lg teamBtn">White Team</button><br/><br />
        <button name="spectator" class="btn btn-default btn-lg teamBtn">Spectator</button>
    </div>
</div>

<div class="row hidden" id="postTeam">
    <div class="col-lg-8 col-lg-offset-1">
        <canvas id="canvas" style="width:100%;height:600px;"></canvas>
    </div>
    <div class="col-lg-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" id="chatLabel">Chat</h2>
            </div>
            <div class="panel-body">
                <div id="chatMessages" style="height:500px;overflow-y:auto;">
                </div>
                <input type="hidden" value="@Model.Username" id="username" />
                <input type="hidden" id="team" />
                <div class="input-group">
                    <input type="text" class="form-control" id="message" placeholder="Say something..." />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="sendChat"><span class="glyphicon glyphicon-send"></span></button>
                    </span>

                </div>
                <label>You are chatting as @Model.Username</label>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="signalr/hubs"></script>

    <script src="~/Scripts/Game/Math.js"></script>
    <script src="~/Scripts/Game/Player.js"></script>
    <script src="~/Scripts/Game/Sprite.js"></script>
    <script src="~/Scripts/Game/ChessPiece.js"></script>
    <script src="~/Scripts/Game/Board.js"></script>
    <script src="~/Scripts/Game/Game.js"></script>

    <script>
        
        var game = new Game();
        var canvas = null;


        $(function () {
            // Declare a proxy to reference the hub. 
            var chat = $.connection.chatHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (name, message, team) {
                // Add the message to the page. 
                $('#chatMessages').append('<div class="media"><div class="media-body"><h4 class="media-heading">' + name
                    + '</h4>' + message + '</div></div>');
            };
            chat.client.updateBoard = function (boardState) {
                game.updateBoard(boardState);
            }

            // Set initial focus to message input box.  
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendChat').click(function () {
                    // Call the Send method on the hub. 
                    chat.server.send($('#username').val(), $('#message').val(), $("#team").val());
                    // Clear text box and reset focus for next comment. 
                    $('#message').val('').focus();
                });

                $("#message").keypress(function (e) {
                    if(e.which == 13)
                    {
                        $("#sendChat").click();
                    }
                })

                updateServerBoard = function (boardState) {
                    chat.server.updateBoard(boardState);
                }
            });

            setupGame = function () {
                // Adjust the canvas's resolution to match its size.
                canvas = document.getElementById("canvas");
                canvas.width = canvas.clientWidth;
                canvas.height = canvas.clientHeight;
                context = canvas.getContext("2d");

                // Initialize the game.
                game.initialize(canvas);

                // Setup up input event handlers.
                canvas.onmousemove = function (event) {
                    game.onMouseMove(event);
                };
                canvas.onmousedown = function (event) {
                    game.onMouseDown(event);
                };
                canvas.onmouseup = function (event) {
                    game.onMouseUp(event);
                };

                // Run the game.
                var fps = 60;
                var frameTime = 1 / fps;
                setInterval(function () {
                    game.update();
                    game.draw();
                }, frameTime);
            }

            $(".teamBtn").click(function () {
                var name = this.name;
                pickTeam(name)
            })

            pickTeam = function (team) {
                $("#preTeam").addClass("hidden");
                $("#postTeam").removeClass("hidden");
                $("#team").val(team)
                $("#chatLabel").text("Chat - " + team)
                setupGame();
            }
        });

    </script>
}