@model Chess.ViewModels.IndexViewModel

<div class="row">
    <div class="col-lg-8 col-lg-offset-1">
        <canvas id="canvas" style="width:100%;height:600px;background:blue;"></canvas>
    </div>
    <div class="col-lg-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Chat</h2>
            </div>
            <div class="panel-body">
                <div id="chatMessages" style="height:500px;overflow-y:auto;">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">Matt</h4>
                            My name is Matt.
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Model.Username" id="username" />
                <input type="hidden" value="white" id="team" />
                <div class="input-group">
                    <input type="text" class="form-control" id="message" placeholder="Say something..." />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="sendChat"><span class="glyphicon glyphicon-send"></span></button>
                    </span>

                </div>
                <label>You are chatting as @Model.Username</label>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="signalr/hubs"></script>
    <script src="~/Scripts/Game/Sprite.js"></script>
    <script src="~/Scripts/Game/ChessPiece.js"></script>
    <script src="~/Scripts/Game/Board.js"></script>
    <script src="~/Scripts/Game/Game.js"></script>
    <script>
        
        var game = new Game();
        var canvas = null;


        $(function () {
            // Declare a proxy to reference the hub. 
            var chat = $.connection.chatHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (name, message, team) {
                // Add the message to the page. 
                $('#chatMessages').append('<div class="media"><div class="media-body"><h4 class="media-heading">' + name
                    + '</h4>' + message + '</div></div>');
            };

            // Set initial focus to message input box.  
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendChat').click(function () {
                    // Call the Send method on the hub. 
                    chat.server.send($('#username').val(), $('#message').val(), $("#team").val());
                    // Clear text box and reset focus for next comment. 
                    $('#message').val('').focus();
                });

                $("#message").keypress(function (e) {
                    if(e.which == 13)
                    {
                        $("#sendChat").click();
                    }
                })
            });
			
			// Create a new game.
            //var game = new Game();
            
            canvas = document.getElementById("canvas");
            canvas.width = canvas.clientWidth;
            canvas.height = canvas.clientHeight;
            context = canvas.getContext("2d");

            // Initialize the game.
            console.log("Initializing game");
            game.initialize(canvas);
            
            // Setup up input events.
            canvas.onmousemove = function (event) {
                game.onMouseMove(event);
            };
            canvas.onmousedown = function (event) {
                game.onMouseDown(event);
            };
            canvas.onmouseup = function (event) {
                game.onMouseUp(event);
            };

            // Run the game.
            var fps = 60;
            var frameTime = 1 / fps;
            setInterval(function() {
                game.update();
                game.draw(context);
            }, frameTime);
        });

    </script>
}